<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/head.ejs") %>
</head>
<body>
  <%- include("../partials/header.ejs")%>
  <%- include ("../partials/nav.ejs") %>
  <main>
  <% if(typeof message !== 'undefined' && message){ %>
    <p><%= decodeURIComponent(message) %></p>
    <% } %>
    <a href='/addRecipe'>Add a recipe</a>
  <% if(results.length > 0){ %>
    <table><thead><tr><th>Recipe Name</th><th>Recipe</th><th>Owner</th><th>Date Added</th></tr></thead><tbody>
    <% results.forEach(function(r) { %>
    <tr><td><a href='/recipeDetails?recipeId=<%= r.recipeid %>'><%= r.recipename %></a></td><td><a href='/recipeDetails?recipeId=<%= r.recipeid %>'><%= r.recipedesc.substring(0,30).replaceAll('<br>', ' ') + "..." %></a></td><td><%= r.fname %> <%= r.lname %></td><td><%= r.datetime %></td></tr>
<% }); %>
</tbody></table>
<% } else{ %>
  <p>Nothing to show here.</p>
  <% }; %>
</main>
</body>
</html>
<% delete message; %>
