<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/head.ejs") %>
</head>
<body>
  <%- include("../partials/header.ejs")%>
  <%- include ("../partials/nav.ejs") %>
  <main>
  <% if(typeof message !== 'undefined' && message){ %>
    <p><%= decodeURIComponent(message) %></p>
    <% } %>
  <% if(results.length > 1){ %>
    <table><thead><tr><th>Recipe Name</th><th>Recipe Description</th><th>Owner</th><th>Date Added</th></tr></thead><tbody>
    <% results.forEach(function(r) { %>
    <tr><td><%= r.recipename %></td><td><%= r.recipedesc %></td><td><%= r.fname %> <%= r.lname %></td><td><%= r.datetime %></td></tr>
<% }); %>
</tbody></table>
<% } else{ %>
  <p>Nothing to show here.</p>
  <% }; %>
</main>
</body>
</html>
<% delete message; %>
